/* global styles  */
* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  min-height: 100vh;
  background-color: yellow;
  font-family: system-ui, sans-serif;
}

/* element styles */
h1 {
  font-size: 3rem;
  font-family:'Courier New', Courier, monospace;

}

h2 {
  font-size: 1,5rem;
  font-family:'Times New Roman', Times, serif;
}

/* headings */
header {
  text-align: center;  
}


/* layout */
main {
  max-width: 110vw;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.stats-wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}

.game-state-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* button styling*/
button {
  padding: 1rem;
  line-height: 1em;
  font-size: 1.3rem;

  border: 0;
  border-radius: 0.5rem;
  
  color: orangered;
  background-color: black;
  transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: gray;
}

button:active {
  background-color: gainsboro;
}

/* images */
.game-graphic {
  max-height: 60vmin;
  margin-bottom: 40px;
}


.hidden {
  visibility: hidden;
}
